.Router-nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #39364d;
}

.Router-nav-item {
  margin: 10px auto;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: orange;
}

.item {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: red;
}
